

//GLOBAL STYLES
@mixin imageRatio($ratio:1) {
    width: 100%;
    aspect-ratio: $ratio;
    object-fit: cover;
}
@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
} 


body{
    margin : 0;
}
a{
    text-decoration: none !important;
    color: #000;
    
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
button{
    border-radius: 0;
}