
/* make the customizations var*/
$navbar-padding-x: 0;
$navbar-padding-y: 0;
$primary-color: #3d94c6;
$yellow: #FFE997;
$yellow-hover: #F4DE8B;
$secondary-color: #5A99D3;
$link-color: #000;

/* The following line can be included in a src/App.scss */



/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
