.footer {
    background-color: #FF9933;
    $footer-color: #fff;
    padding: 50px 0 10px;
    color: $footer-color !important;
  
    &__top {
      display: flex ;
      margin-bottom: 2rem;
      justify-content: space-between;
      a {
        color: $footer-color !important;
      }
  
      &__item {
        max-width: 300px;
        &__title {
          margin: 1.2rem 0rem ;
        }
        min-width: 140px;
        // + .footer__top__item {
        //   margin-left: 5rem;
        // }
        h3 {
          font-size: 1.2rem;
        }
        ul {
          padding-left: 0;
          li {
            margin-bottom: 0;
            font-size: 0.9rem;
          }
        }
        .logo-container {
          margin-bottom: 20px;
        }
        .social-link--container {
          display: flex;
          margin-top: 10px;
          .social-link {
            margin-right: 10px;
          }
        }
      }
    }
    &__bottom {
      text-align: center;
    }
  }
  
  @media (max-width: 992px) {
    .footer{
      &__top{
        flex-wrap: wrap;
      }
    }
    
  }